Source: signon-ui
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               pkg-config,
               signon-plugins-dev,
               libaccounts-qt5-dev,
               libnotify-dev,
               libproxy-dev,
               libx11-dev,
               libsignon-qt5-dev,
               qt5-default,
               qtbase5-dev,
               libqt5webkit5-dev,
               qtdeclarative5-dev,
               libgl1-mesa-dev [!armel !armhf] | libgl-dev [!armel !armhf],
               libgles2-mesa-dev [armel armhf] | libgles2-dev [armel armhf],
               libxext-dev,
               gdb,
               xvfb,
               dbus-test-runner,
               libsqlite3-dev,
               libgstreamer-plugins-base0.10-dev,
               libxslt1-dev,
               libqt5opengl5-dev,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/online-accounts-signon-ui

Package: signon-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Single Sign-on UI
 UI for the signond Single Signon service
