#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PATH:=/opt/qt5/bin:$(PATH)

override_dh_install:
	rm -f debian/*/usr/bin/signon-ui-unittest
	dh_install --fail-missing

%:
	dh $@ 
